/* GENERAL */
.ingrid-name {
  object-fit: contain;
}

footer {
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  flex-shrink: 0;
}

footer a, footer a:hover {
  color: #212529;
}

/* NAVIGATION */

.menu-img {
  max-height: 4vh;
  width: 80%;
  border-bottom: 3px solid transparent;
  transition-duration: 0.5s;
}

.menu-img:hover {
  border-bottom: 3px solid rgb(179, 179, 179);
  transition-duration: 0.75s;
}

/* INDEX */
.index-card {
  border: 0;
}

.index-card h4 {
  /* margin-top: 40%; */
  position: absolute;
  bottom: 0;
  margin-right: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0 5px 5px 0;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

article.index-card {
  /* border-bottom: 3px solid transparent; */
  padding: 5px;
  transition-duration: 0.5s;
}

article.index-card:hover {
  /* border-bottom: 3px solid red; */
  transition-duration: 0.5s;
  transform: scale(1.009);
}

/* SINGLE */
article.single-card .card-title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.card-text {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-text.about-text a {
  /* text-decoration: underline; */
  border-bottom: 2px solid rgb(179, 179, 179);
  color: #212529;
  /* transition-duration: 0.75s; */
}

.card-text.about-text a:hover {
  text-decoration: none;
  border-bottom: 2px transparent;
  /* transition-duration: 0.75s; */
}

.card-text.art-meta {
  font-style: italic;
  line-height: 1rem;
}

.card-text .text-muted a {
  color: #646464;
}

/* CONTACT */
.contact-title {
  font-family: 'Lato', sans-serif;
}

/* BIO */
#bio .card-title {
  font-family: 'Lato', sans-serif;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
  .test {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  header {
    display: none;
  }

  .navbar {
    /* flex-wrap: nowrap; */
  }

  .ingrid-sm {
    object-fit: contain;
    display: inline;
    align-self: center
  }
}