/* GENERAL */
.ingrid-name {
  object-fit: contain;
}

.ingrid-sm {
  display: none;
}

footer {
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  flex-shrink: 0;
}

footer a, footer a:hover {
  color: #212529;
}

/* NAVIGATION */

.menu-img {
  max-height: 4vh;
  object-fit: contain;
  width: 80%;
  border-bottom: 3px solid transparent;
  transition-duration: 0.5s;
}

#digital-art-menu-img {
  width: 90%;
}

.menu-img:hover {
  border-bottom: 3px solid rgb(179, 179, 179);
  transition-duration: 0.75s;
}

.nav-link {
  text-align: center;
}

/* INDEX */
.index-card {
  text-align: center;
}

.index-card .card-title {
  position: absolute;
  bottom: 0;
  font-family: 'Lato', sans-serif;
  font-size: clamp(1.5rem, 1.75vw, 3rem);
  text-transform: uppercase;
  background-color: rgb(255, 255, 255, 0.15);
  /* padding: 2px; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  margin-right: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0 5px 5px 0;
}

article.index-card {
  transition-duration: 0.5s;
}

article.index-card:hover {
  transition-duration: 0.5s;
  transform: scale(1.009);
}

/* SINGLE */
article.single-card .card-title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.card-text {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-text.about-text a {
  border-bottom: 2px solid rgb(179, 179, 179);
  color: #212529;
}

.card-text.about-text a:hover {
  text-decoration: none;
  border-bottom: 2px transparent;
}

.card-text.art-meta {
  font-style: italic;
  line-height: 1rem;
}

.card-text .text-muted a {
  color: #646464;
}

/* CONTACT */
.contact-title {
  font-family: 'Lato', sans-serif;
}

/* BIO */
#bio .card-title {
  font-family: 'Lato', sans-serif;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .test {
    /* display: none; */
  }

}

@media screen and (max-width: 576px) {
  .menu-img {
    object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .ingrid-name {
    display: none;
  }

  .ingrid-sm {
    object-fit: contain;
    display: inline;
    align-self: center;
  }
}